<div class="ui grid center aligned">
    <div class="row">
    </div>
    <div class="four wide column">
        <div class="small content ui  statistic">
            <div class="value">
            #{if (getBMI >= 18.5 && getBMI< 25)}
                <i class="green user icon"></i>
            #{/if}
            #{elseif (member.gender=="Male")}
                <i class="blue user icon"></i>
            #{/elseif}
            #{elseif member.gender=="Female"}
                <i class="pink user icon"></i>
            #{/elseif}
            #{else}
                <i class="orange user icon"></i>
            #{/else}
                <hr></hr>
                <div class="value">${member.firstname} ${member.lastname}</div>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="small content ui statistic">
            <div class="value">
            #{if (getBMI)<16}
                <i class="red weight icon"></i>
            #{/if}
            #{elseif (getBMI >= 16 && getBMI< 18.5)}
                <i class="orange weight icon"></i>
            #{/elseif}
            #{elseif (getBMI >= 18.5 && getBMI< 25)}
                <i class="green weight icon"></i>
            #{/elseif}
            #{elseif (getBMI >= 25 && getBMI< 30)}
                <i class="orange weight icon"></i>
            #{/elseif}
            #{elseif (getBMI >= 30 && getBMI< 35)}
                <i class="red weight icon"></i>
            #{/elseif}
            #{elseif (getBMI> 35)}
                <i class="weight icon"></i>
            #{/elseif}

                <hr></hr>
                <div class="value"> ${BMICategory}</div>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="small content ui statistic">
            <div class="value">
            #{if (getBMI)<16}
                <i class="red heartbeat icon"></i>
            #{/if}
            #{elseif (getBMI >= 16 && getBMI< 18.5)}
                <i class="orange heartbeat icon"></i>
            #{/elseif}
            #{elseif (getBMI >= 18.5 && getBMI< 25)}
                <i class="green heartbeat icon"></i>
            #{/elseif}
            #{elseif (getBMI >= 25 && getBMI< 30)}
                <i class="orange heartbeat icon"></i>
            #{/elseif}
            #{elseif (getBMI >= 30 && getBMI< 35)}
                <i class="red heartbeat icon"></i>
            #{/elseif}
            #{elseif (getBMI> 35)}
                <i class="heartbeat icon"></i>
            #{/elseif}
                <hr></hr>
                <div class="value">BMI ${getBMI}</div>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="small content ui statistic">
            <div class="value">
            #{if (idealBW.equals("Ideal"))}
                <i class="user green md icon"></i>
            #{/if}
            #{elseif (idealBW.equals("Not Ideal"))}
                <i class="user red md icon"></i>
            #{/elseif}

                <hr></hr>
                <div class="value">BMI ${idealBW}</div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>