<nav class="ui stackable inverted menu">
    <header class="ui large header item"><a href="/"> Cosfit <i class="red heartbeat icon"></i></a></header>
    <div class="right  menu">
        <a id="dashboard" class="item" href="/dashboard"> Dashboard</a>
        <a id="about" class="item" href="/about"> About </a>
        <a id="memberedit" class="item" href="/memberedit">Edit Profile <i class="ui edit icon"></i></a>
        <a id="logout" class="item" href="\logout">Logout<i class="ui sign out alternate icon"></i></a>
    </div>
</nav>

<script>
    $("#${_id}").addClass("active item");
</script>