#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
    <h1>
        Cosfit fitness dashboard overview
    </h1>
    <p>
        Our web app allows you to :
    </p>
    <div class="ui segment">
        <div class="ui two column very relaxed grid">
            <div class="column">
                <p>Recieve feedback from our trainers</p>
                <p>Get the motivation you need</p>
                <p>Register and manage your profile</p>
                <p>Track your assessments</p>
            </div>
            <div class="column">
                <p>View your BMI</p>
                <p>Understand what your BMI means to you</p>
                <p>Get detailed analytics on your progress</p>
                <p>Get fitness analytics and metrics in real time</p>
            </div>
        </div>
        <div class="ui vertical divider">
            and
        </div>
    </div>

    <!--User Dashboard image-->
    <img class="ui large bottom aligned fluid image" src="../public/images/aboutimg.png">

</section>