#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"start"/}
<div>
    <br>

</div>
<div>
    <section class="ui center aligned inverted middle aligned segment">
        <i class="ui inverted massive red heartbeat icon"></i>
        <h1 class="ui header">

            Welcome to<span class="ui red text"> Cosfit</span>
        </h1>
        <div class="ui item blue inverted menu">
            <a id="login" class="selectable item" href="/login">
                <i class="ui inverted sign in alternate icon"></i> Login </a>
        </div>

</div>


</section>
